@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}